---
extends: default

rules:
  document-start: disable

  line-length:
    max: 120
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    min-spaces-from-content: 1

  braces:
    max-spaces-inside: 1

  brackets:
    max-spaces-inside: 1

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  .git/
  .github/
  __pycache__/