---
extends: default
skip_list:
  - name[casing]

rules:
  document-start: disable

  # Disable the rule that requires a newline at end of file
  new-line-at-end-of-file: disable

  line-length:
    max: 160
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    min-spaces-from-content: 1
  comments-indentation: false

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  braces:
    max-spaces-inside: 1

  brackets:
    max-spaces-inside: 1

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  .git/
  .github/
  __pycache__/